{
    "cache": false,
    "check-coverage": false,
    "extension": [
        ".js",
        ".ts"
    ],
    "include": [
        "**/*.js",
        "**/*.ts"
    ],
    "exclude": [
        "coverage",
        "dist/tests",
        "tests/generate_conformance.ts"
    ],
    "sourceMap": true,
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "all": true,
    "instrument": true
}